{% extends 'core/base.html' %}
{% block content %}
<title>{% block head_title  %}Shop name {% endblock %}</title>
{% include 'core/carousels.html' %}

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h1 class="my-4">Shop Name</h1>
        <div class="list-group">
          <a href="#" class="list-group-item">Category 1</a>
          <a href="#" class="list-group-item">Category 2</a>
          <a href="#" class="list-group-item">Category 3</a>
        </div>
      </div>
      <!-- /.col-lg-3 -->
   

      <div class="col-lg-9">
        <h3 class="text-align-center">Our Latest Products</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error, labore? 
        <div class="row">     
          
            {% for core in index %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href=""><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{{ core.get_absolute_url}}">{{core.title}}</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! <small class="text-muted"><a href="{{ core.get_absolute_url}}">Read more..</a> </small></p></p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
          {% endfor %}   
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->
{% endblock %}